@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  margin: 0;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-title {
  font-size: 36px;
}

::ng-deep .menu-superior {
  background-color: #439755 !important;
  color: #fff !important;
  font-size: 28px;
}

::ng-deep .menu-superior mat-icon,
::ng-deep .menu-superior span,
::ng-deep .menu-superior button {
  color: #fff !important;
}

::ng-deep .menu-superior .mat-menu-panel {
  background-color: #439755 !important;
  color: #fff !important;
}

::ng-deep .menu-superior .mat-menu-panel .mat-menu-item {
  color: #fff !important;
}

::ng-deep .menu-superior .mat-menu-panel .mat-menu-item mat-icon {
  color: #fff !important;
}

::ng-deep .menu-superior .mat-menu-panel .mat-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.app-container {
  min-height: 100vh;
}

::ng-deep .app-sidenav {
  width: 230px;
  background-color: #439755 !important;
  color: #fff !important;
}

::ng-deep .app-sidenav mat-icon,
::ng-deep .app-sidenav mat-list-item span,
::ng-deep .app-sidenav mat-panel-title,
::ng-deep .app-sidenav .mat-expansion-panel-header * {
  color: #fff !important;
}

::ng-deep .app-sidenav .mat-mdc-list-item:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.main-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #439755 !important;
}

footer {
  margin-top: auto;
  background-color: #439755 !important;
  color: #fff !important;
  padding: 5px;
  text-align: center;
}

.custom-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-list-item,
a[mat-list-item] {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

::ng-deep .app-sidenav mat-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #fff !important;
  fill: #fff !important;
}