<h1>Lista de Denúncias</h1>

<!-- Legenda de status -->
<div class="legenda-status">
  <span class="legenda-item"><span class="cor-legenda verde"></span> Atendida</span>
  <span class="legenda-item"><span class="cor-legenda amarela"></span> Em andamento</span>
  <span class="legenda-item"><span class="cor-legenda vermelha"></span> Não atendida</span>
</div>

<!-- Lista de Denúncias -->
<div class="denuncia-list">
  <div *ngFor="let item of denuncias" [ngClass]="{
      'denuncia-card': item.status === 'Atendida',
      'denuncia-card-pending': item.status === 'Em andamento',
      'denuncia-card-unattended': item.status === 'Não atendida'
    }">
    <h2>Denúncia {{ item.id }}</h2>
    <p><strong>Status:</strong> {{ item.status }}</p>
    <p><strong>Cidade:</strong> {{ item.cidade }}</p>
    <p><strong>Bairro:</strong> {{ item.bairro }}</p>
    <p><strong>Rua:</strong> {{ item.rua }}, {{ item.numero }}</p>
    <p><strong>Conteúdo:</strong> {{ item.denuncia }}</p>
  </div>
</div>