<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Flutuante</title>
  <link rel="stylesheet" href="sign-in.component.css">
</head>
<body>


  <div class="login-container">
    <h2>Login</h2>
    <form>
      <div class="input-group">
        <input matInput type="text" id="usuario" name="usuario" placeholder=" " required>
        <label for="usuario">Usuário</label>
      </div>
      <div class="input-group">
        <input type="password" id="senha" name="senha" placeholder=" " required>
        <label for="senha">Senha</label>
      </div>
      <button type="submit"><span>Entrar</span></button>
    </form>
    <p>Não tem uma conta? <a href="account/sign-up">Cadastre-se</a></p>
  </div>

</body>
</html>
