<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lista de Denúncias</title>
  <link rel="stylesheet" href="listar-denuncia.component.css" />
</head>
<body>
  <div class="container">
    <h1>Lista de Denúncias</h1>
    <div class="denuncia-list">
      <div class="denuncia-card">
        <h2>Denúncia 1</h2>
        <p><strong>Categoria:</strong> Assédio</p>
        <p><strong>Data:</strong> 04/06/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  Segunda-feiris nun dá, eu vô me pirulitá! Cevadis im ampola pa arma uma pindureta. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget..</p>
      </div>

      <div class="denuncia-card-unattended">
        <h2>Denúncia 2</h2>
        <p><strong>Categoria:</strong> Corrupção</p>
        <p><strong>Data:</strong> 01/06/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  Leite de capivaris, leite de mula manquis sem cabeça. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem manda na minha terra sou euzis! Nulla id gravida magna, ut semper sapien..</p>
      </div>

      <div class="denuncia-card">
        <h2>Denúncia 3</h2>
        <p><strong>Categoria:</strong> Violência</p>
        <p><strong>Data:</strong> 30/05/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  Pra lá, depois divoltis porris, paradis. Negão é teu passadis, eu sou faxa pretis. Bota 1 metro de cachacis aí pra viagem! In elementis mé pra quem é amistosis quis leo..</p>
      </div>
    </div>
  </div>
</body>
</html>
