<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lista de Denúncias</title>
  <link rel="stylesheet" href="listar-denuncia.component.css" />
</head>
<body>
  <div class="container">
    <h1>Lista de Denúncias</h1>

    <!-- Legenda de status -->
    <div class="legenda-status">
      <span class="legenda-item"><span class="cor-legenda verde"></span> Atendida</span>
      <span class="legenda-item"><span class="cor-legenda amarela"></span> Em andamento</span>
      <span class="legenda-item"><span class="cor-legenda vermelha"></span> Não atendida</span>
    </div>

    <div class="denuncia-list">
      <div class="denuncia-card">
        <h2>Denúncia 1</h2>
        <p><strong>Categoria:</strong> Assédio</p>
        <p><strong>Data:</strong> 04/06/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Per aumento de cachacis, eu reclamis. Manduma pindureta quium dia nois paga. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
      </div>

      <div class="denuncia-card-pending">
        <h2>Denúncia 2</h2>
        <p><strong>Categoria:</strong> Violência</p>
        <p><strong>Data:</strong> 03/06/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  Casamentiss faiz malandris se pirulitá. Per aumento de cachacis, eu reclamis. Interagi no mé, cursus quis, vehicula ac nisi. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>
      </div>

      <div class="denuncia-card-unattended">
        <h2>Denúncia 3</h2>
        <p><strong>Categoria:</strong> Corrupção</p>
        <p><strong>Data:</strong> 01/06/2025</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Quem manda na minha terra sou euzis! Bota 1 metro de cachacis aí pra viagem! Mussum Ipsum, cacilds vidis litro abertis.  Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si num tem leite então bota uma pinga aí cumpadi! Sapien in monti palavris qui num significa nadis i pareci latim. </p>
      </div>
    </div>
  </div>
</body>
</html>
