<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="sign-up.component.css">
</head>

<body>

  <div class="login-container">
    <h2>Crie sua conta</h2>
    <form>
      <div class="input-group">
        <input type="text" id="nome" name="nome" placeholder=" " required>
        <label for="nome">Nome completo</label>
      </div>
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Email</label>
      </div>
      <div class="input-group">
        <input type="password" id="senha" name="senha" placeholder=" " required>
        <label for="senha">Senha</label>
      </div>
      <div class="input-group">
        <input type="password" id="repita-senha" name="repita-senha" placeholder=" " required>
        <label for="repita-senha">Repita a senha</label>
      </div>
      <button><span>Cadastrar</span></button>

    </form>
    <p>Já tem uma conta? <a routerLink="/account/sign-in">Faça login</a></p>
  </div>

</body>

</html>